.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .header {
    text-align: center;
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .address, .balance, .executable {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  